<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>836666967015-q5qp0h1nmjv92grlgj30ov06e7hlccln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836666967015-q5qp0h1nmjv92grlgj30ov06e7hlccln</string>
	<key>API_KEY</key>
	<string>AIzaSyAFDsaKFQ6J7cpdLQaqTdtnMsUf4ety9hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>836666967015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kraiz.Kraiz</string>
	<key>PROJECT_ID</key>
	<string>kraiz-32bf1</string>
	<key>STORAGE_BUCKET</key>
	<string>kraiz-32bf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836666967015:ios:1af3fe6e8e1bdd3c</string>
	<key>DATABASE_URL</key>
	<string>https://kraiz-32bf1.firebaseio.com</string>
</dict>
</plist>