<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>99435874951-bfuempc0evakcmo341bn0373g996o1b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99435874951-bfuempc0evakcmo341bn0373g996o1b7</string>
	<key>API_KEY</key>
	<string>AIzaSyCSTt_28IaNHP5xqLSBxVhFkOjdbK6cxzE</string>
	<key>GCM_SENDER_ID</key>
	<string>99435874951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kraiz.Kraiz</string>
	<key>PROJECT_ID</key>
	<string>kraiz-f4959</string>
	<key>STORAGE_BUCKET</key>
	<string>kraiz-f4959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99435874951:ios:1af3fe6e8e1bdd3c</string>
	<key>DATABASE_URL</key>
	<string>https://kraiz-f4959.firebaseio.com</string>
</dict>
</plist>